@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
    height:100%;
}

@font-face {
    font-family: 'Avenir';
    src: local('Avenir'), url(./fonts/AvenirNextLTPro-Regular.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

@keyframes fadeIn {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

.animintr{
    animation: fadeIn 1s ease-in-out;
}
